In [137]:
import pandas as pd 
import numpy as np
from sklearn import neighbors
from sklearn.neighbors import NearestNeighbors
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [138]:
traindata = pd.read_csv("train.csv",sep=",", names=['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','result'])

In [139]:
traindata.head()

,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,result
0,84.0,44.0,80.0,140.0,58.0,11.0,156.0,44.0,20.0,157.0,166.0,349.0,176.0,74.0,5.0,17.0,183.0,193.0,4
1,96.0,49.0,98.0,187.0,59.0,6.0,213.0,31.0,24.0,152.0,228.0,680.0,210.0,77.0,8.0,28.0,188.0,189.0,3
2,94.0,38.0,84.0,158.0,55.0,9.0,169.0,39.0,20.0,130.0,196.0,430.0,155.0,69.0,9.0,15.0,190.0,195.0,1
3,115.0,51.0,100.0,201.0,60.0,12.0,196.0,34.0,23.0,162.0,207.0,573.0,184.0,62.0,22.0,1.0,198.0,208.0,2
4,89.0,40.0,58.0,137.0,58.0,7.0,122.0,54.0,17.0,140.0,146.0,225.0,150.0,63.0,7.0,4.0,199.0,206.0,4

In [140]:
traindata.tail()

,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,result
418,98.0,38.0,72.0,192.0,69.0,5.0,166.0,38.0,20.0,131.0,189.0,427.0,138.0,70.0,1.0,3.0,200.0,202.0,3
419,81.0,47.0,69.0,146.0,64.0,6.0,151.0,44.0,19.0,147.0,171.0,340.0,195.0,75.0,5.0,0.0,183.0,188.0,3
420,83.0,36.0,54.0,119.0,57.0,6.0,128.0,53.0,18.0,125.0,143.0,238.0,139.0,82.0,6.0,3.0,179.0,183.0,2
421,81.0,45.0,68.0,137.0,60.0,7.0,152.0,45.0,19.0,151.0,167.0,333.0,179.0,81.0,3.0,13.0,179.0,183.0,3
422,94.0,45.0,72.0,179.0,69.0,6.0,156.0,41.0,19.0,144.0,181.0,373.0,191.0,69.0,5.0,5.0,193.0,198.0,3

In [141]:
knn = neighbors.KNeighborsClassifier(n_neighbors=5)

In [142]:
#X = np.array([[traindata.a, traindata.b, traindata.c, traindata.d, traindata.e, traindata.f, traindata.g
#              , traindata.h, traindata.i, traindata.j, traindata.k, traindata.l, traindata.m, traindata.n
#              , traindata.o, traindata.p, traindata.q, traindata.r]])
X = np.array(traindata.iloc[:,0:18])        
y = np.array(traindata['result'])

In [143]:
print(X.shape)
print(y.shape)

(423, 18)
(423,)

In [145]:
print(X.shape)
print(y.shape)

(423, 18)
(423,)

In [146]:
X.transpose()

array([[ 84.,  96.,  94., ...,  83.,  81.,  94.],
       [ 44.,  49.,  38., ...,  36.,  45.,  45.],
       [ 80.,  98.,  84., ...,  54.,  68.,  72.],
       ...,
       [ 17.,  28.,  15., ...,   3.,  13.,   5.],
       [183., 188., 190., ..., 179., 179., 193.],
       [193., 189., 195., ..., 183., 183., 198.]])

In [147]:
print(X.shape)

(423, 18)

In [148]:
X_train,X_test,y_train,y_test=train_test_split(X, y, test_size = 0.2)

In [149]:
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [150]:
prediction = knn.predict(X_test)

In [151]:
print(accuracy_score(y_test,prediction))

0.5882352941176471